{% extends "core/base.html" %}
{% load static %}
{% block title %}About {% endblock title %}

{% block content %}
<div class="container mx-5"> 
    <br><br><br>
    <h1 class="text-center" style="font-size: 32px;">Welcome <span class="badge text-bg-dark">To</span>Sikkim Teachers Eligibility Test.
    </h1>
    <p class="lead text-center fs-4 fw-bold mt-5">The Teacher Eligibility Test, known as TET, is the minimum qualification required in India for a person to be eligible for appointment as a teacher. The test is mandatory for teaching jobs in any government schools across India.</p>
  </div>
  
  
  
{% endblock content %}