<hr class="bg-dark" style="height: 5px" />
<div class="container my-4">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>DEPARTMENT CONTACT</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >ABESIT Ghaziabad</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >+91-12345-67890</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >+91-09876-54321</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Info@Yoursite.Com</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>TECHNICAL HELPDESK</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >+91 98981-12930</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">
              Yoursite.Com</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>About</h5>
          <p>
            The Teacher Eligibility Test, known as TET, is the minimum
            qualification required in India for a person to be eligible for
            appointment as a teacher.
          </p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2"></div>
        </form>
      </div>
    </div>
  </footer>
</div>
